.forget
{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.but{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.bord{
    border: 1px solid black;
    width: 500px;
    margin-left: 290px;
    margin-top: 70px;
    padding: 30px;
}
