<div class="container mt-5 col">
    <h1 style="display: flex;align-items: center;justify-content: center;text-align: center;font-size: 50px;">Employee
        Management System</h1>
    <div class="bord">
        <h1 class="text-center mb-3">Account recover</h1>
        <div class="forget">
            <div class="form-floating">
                <input type="email" class="form-control mb-2" style="width: 400px;" id="floatingInput" #box
                    placeholder="name@example.com" autocomplete="off">
                <label for="floatingInput">Email address</label>

            </div>
        </div>
        <div class="but">
            <button class="btn btn-primary" style="width: 150px;" (click)="backToLogin()">Back</button>&nbsp;&nbsp;
            <button class="btn btn-primary " style="width: 150px;" (click)="forgetPassword(box.value)">Next</button>
        </div>
    </div>
</div>