<app-navbar></app-navbar>
<table class="table container mt-3" *ngIf='dataUnAvailable else elseBlock'>
    <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Requests</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let leave of leaveRequester let i=index">
            <td>
                {{i+1}}
            </td>
            <td>
                <b>{{leave.firstName|uppercase}}</b> has created a leave request from <b>{{leave.start|date}}</b> to
                <b>{{leave.end|date}}</b>.Total number of days are <b>{{leave.days_in_leave}}</b>.
            </td>
            <td>
                <button class="btn btn-primary" (click)='approve(leave)'>Approve</button>
                <button class="btn btn-danger" style="width: 85px;margin-left: 10px;
              " (click)='decline(leave)'>Decline</button>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #elseBlock>
    <div class="card">
        <div class="card-body">
            <p style="font-size: 20px;"> You have no pending request right now</p>
        </div>
    </div>
</ng-template>