<app-navbar></app-navbar>
<div class="col columndata">
  <span><img width="510px" height="510px" src="{{url}}" alt=""></span>
  <span class="column2">
    <div>
      <h4><b>First Name</b></h4>
      <p>{{firstName}}</p>
    </div>
    <div>
      <h4><b>Last Name</b></h4>
      <p>{{lastName}}</p>
    </div>
    <div>
      <h4><b>Email Address</b></h4>
      <p>{{email}}</p>
    </div>
    <div>
      <h4><b>Created Date</b></h4>
      <p>{{createdDate|date}}</p>
    </div>
    <button class="btn btn-primary" style="width: 70px;" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
  </span>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]='adminUserDetail'>
            <div class="form-group">
              <label for="">First Name</label>
              <input type="text"
                class="form-control" name="" id="" formControlName='first_name' aria-describedby="helpId" placeholder="">
              <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
            </div>
            <div class="form-group">
              <label for="">Last Name</label>
              <input type="text"
                class="form-control" formControlName='last_name' name="" id="" aria-describedby="helpId" placeholder="">
              <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="text"
                class="form-control" name="" formControlName='email' id="" aria-describedby="helpId" placeholder="">
              <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id='cancel' data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)='update()'>Update</button>
        </div>
      </div>
    </div>
  </div>